<%= form_for @mitumori_form, :url => mitumori_forms_complete_path do |f| %>
  <table class="table">
    <tr>
      <th>見積タイトル</th>
      <td>
        <%= f.hidden_field :mitumori_name %>
        <%= @mitumori_form.mitumori_name %>
      </td>
    </tr>
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :name %>
        <%= @mitumori_form.name %>
      </td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @mitumori_form.email %>
      </td>
    </tr>
    <tr>
      <th>ラジオ</th>
      <td>
        <%= f.hidden_field :radio %>
        <%= @mitumori_form.radio %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :detail %>
        <%= simple_format(@mitumori_form.detail) %>
      </td>
    </tr>
  </table>
  <%= f.submit '送信' %>
<% end %>