<%= form_for @mitumori_form, :url => mitumori_forms_complete_path do |f| %>
  <table class="table">

  <!-- 現場名 --> 
    <tr>
      <th>現場名</th>
      <td>
        <%= f.hidden_field :genba_name %>
        <%= @mitumori_form.genba_name %>
      </td>
    </tr>

    <!-- 新築/RF -->
    <tr>
      <th>新築/戸建</th>       
      <td>
      <%= f.hidden_field :sintiku %>
      <%= @mitumori_form.sintiku %> 
      </td>
      <td>/</td>
      <!-- 戸建て/マンション -->
      <td>
        <%= f.hidden_field :kodate %>
        <%= @mitumori_form.kodate %> 
        <% if @mitumori_form.kodate == "マンション" %>
          <%= f.hidden_field :floor %>
          (<%= @mitumori_form.floor %>階)
        <% end %>   
      </td>
    </tr>

    <!-- 商品名 -->
    <tr>
      <th>商品名</th>
      <td>
        <%= f.hidden_field :syohin_name %>
        <%= @mitumori_form.syohin_name %>
      </td>
    </tr>

    <!-- サイズ -->
    <tr>
      <th>サイズ</th>
      <td>
        <%= f.hidden_field :size %>
        <%= @mitumori_form.size %>
      </td>
    </tr>

    <!-- ドア位置 -->
    <tr>
      <th>ドア位置</th>
      <td>
        <%= f.hidden_field :door_iti %>
        <%= @mitumori_form.door_iti %>
      </td>
    </tr>

    <!-- グレード -->
    <tr>
      <th>グレード</th>
      <td>
        <%= f.hidden_field :grade %>
        <%= @mitumori_form.grade %>
      </td>
    </tr>

    <!-- 見積希望納期 -->
    <tr>
      <th>見積希望納期</th>
      <td>
      <%= raw sprintf(
            f.date_select(
                :mitumori_kibo_date,
                use_hidden: true,
                selected: Date.new(@mitumori_form.mitumori_kibo_date[1],@mitumori_form.mitumori_kibo_date[2],@mitumori_form.mitumori_kibo_date[3]),
            )
          )
          %>
        <%= @mitumori_form.mitumori_kibo_date[2] %> 月 
        <%= @mitumori_form.mitumori_kibo_date[3] %> 日
      </td>
    </tr>

    <!-- 備考 -->
    <tr>
      <th>備考</th>
      <td>
        <%= f.hidden_field :remark %>
        <%= simple_format(@mitumori_form.remark) %>
      </td>
    </tr>
  </table>

  <!-- 見積添付画像 -->
  <%= image_tag(@mitumori_image.image.url, style: "width: 900px; height: 800px;") %>
    <%= f.fields_for @mitumori_image do |p| %>
    <%= p.hidden_field :image_cache %>
  <% end %>
  
  <%= f.hidden_field :from_mail_address %>
  <%= f.hidden_field :to_mail_address %>
  
  <!-- メール送信ボタン -->
  <%= f.submit '送信' %>
<% end %>
