<%= form_for @mitumori_form, :url => mitumori_forms_confirm_path do |f| %>

	<!--  エラーメッセージ --> 
    <% if @mitumori_form.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @mitumori_form.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
		<!-- メールフォーム --> 
    <table class="table">

      <!-- 現場名入力欄 --> 
      <tr>
        <th>現場名：</th>
        <td><%= f.text_field :genba_name %></td>
      </tr>

      <!-- 新築/RF入力欄 -->
      <tr>    
      <td></td>
        <td>
        <!-- 戸建て/マンション入力欄 -->
          <label><%= f.radio_button :sintiku, "新築" %>新築</label> 
          or
          <label><%= f.radio_button :sintiku, "RF" %>RF</label> 
          /
          <!-- 商品名入力欄 -->
          <label><%= f.radio_button :kodate, "戸建て" %>戸建て</label> 
          or
          <label><%= f.radio_button :kodate, "マンション" %>マンション</label> 
          (<%= f.text_field :floor %>階)
        </td>
        <th>商品名：</th>
        <td><%= f.text_field :syohin_name %></td>
      </tr>

      <!-- サイズ入力欄 -->
      <tr>
        <th>①サイズ：</th>
        <td><%= f.text_field :size %></td>
      </tr>

      <!-- ドア位置入力欄 -->
      <tr class = "door_iti_radio">
        <th>
          ②ドア位置：<br>
          ※画像を選択してください
        </th>
        <td class = "flex-container">
          <%= f.radio_button :door_iti, "RL" %> 
          <label for="mitumori_form_door_iti_rl">
            <%= image_tag 'RL.png' %><br>
            RL
          </label>
          <%= f.radio_button :door_iti, "LR" %> 
          <label for="mitumori_form_door_iti_lr">
            <%= image_tag 'LR.png' %><br>
            LR
          </label>
          <%= f.radio_button :door_iti, "RC" %> 
          <label for="mitumori_form_door_iti_rc">
            <%= image_tag 'RC.png' %><br>
            RC
          </label>
          <%= f.radio_button :door_iti, "LC" %> 
          <label for="mitumori_form_door_iti_lc">
            <%= image_tag 'LC.png' %><br>
            LC
          </label>
      </tr>

      <!-- グレード入力欄 -->
      <tr>
        <th>
          ③グレード：<br>
          例．Zグレードなど
        </th>
        <td>
          <%= f.select :grade, 
            [["Zグレード", "Zグレード"], 
            ["testグレード", "testグレード"]], 
            include_blank: "" %>
        </td>
      </tr>

      <!-- 見積希望納期入力欄 -->
      <tr>
        <th>④見積希望納期：</th>
        <td>
          <%= raw sprintf(
            f.date_select(
                :mitumori_kibo_date,
                use_month_numbers: true,
                discard_year: true,
                date_separator: '%s'), '月 ') + '日'
          %>
        </td>
      </tr>

      <!-- 自由記入欄 -->
      <tr>
        <th>自由記入欄</th>
        <td><%= f.text_area :remark %></td>
      </tr>

      <!-- 見積添付画像選択 -->
      <tr>
        <td>
          <%= f.fields_for @mitumori_image do |i| %>
            <%= i.file_field :image %>
          <% end %>
        </td>
      </tr>

      <!-- 送信元メールアドレス選択 -->
      <tr>
        <td>
          <%= f.select :from_mail_address, 
                [["test01@test", "test01@test"], 
                ["test02@test", "test02@test"]], 
                include_blank: "送信元アドレス" 
          %>
        </td>
      </tr>

      <!-- 送信先メールアドレス選択 -->
      <tr>
        <td>
          <%= f.selct :to_mail_address, 
                [["test01@test", "test01@test"], 
                ["test02@test", "test02@test"]], 
                include_blank: "送信先アドレス" 
          %>
        </td>
      </tr>
    </table>

    <!-- 確認画面遷移ボタン -->
    <%= f.submit '入力完了' %>
  <% end %>