<!DOCTYPE html>
<html>
  <head>
    <title>MitumoriMail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if user_signed_in? %>
              <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></li>
            <% end %>

  <body>
    <%= yield %>
  </body>
</html>
